<% layout('./layout/page.ejs') %>

<h1 class="hero__title"><%= title %></h1>
<img class="hero__img" src="<%= picture %>" alt=""/>
<h4 class="hero__info">Информация о персонаже </h4>
<h5 class="heto__text"><%=desc%></h5>
