<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap;subset=cyrillic-ext" rel="stylesheet">
    <script src="https://kit.fontawesome.com/536caefa35.js" crossorigin="anonymous"></script>

</head>
<body>
<h1><%= title %></h1>
<img src="<%= picture %>" alt=""/>
<div>Несколько слов о нашем герое: <%=desc%></div>
</body>
</html>
